@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	font-family: 'Autography';
	src: url('/fonts/Autography.otf');
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito.ttf');
}

@font-face {
	font-family: 'Batangas';
	src: url('/fonts/Batangas-Bold.woff'), url('/fonts/Batangas-Bold.woff2'),
		url('/fonts/Batangas-Bold.eot');
}

.autography-font {
	font-family: 'Autography';
}
